body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ddda1c;
}

.header {
  background-image: linear-gradient(to right, red , yellow);
  color: rgb(0, 0, 0);
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-badge {
  background-color: #de4327; 
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 20px auto;
}

.card {
  background-color: rgba(241, 241, 238, 0.728);
  border: 2px solid #e2b66e;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgb(243, 247, 47);
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.out-of-stock-card {
  background-color: #ffeaea; 
  opacity: 0.7;
}

.add-to-cart-btn {
  background-color: #4c6ffc;
  color: white;
  border: outset;
  border-radius: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transform: translateY(-5px);
}

.add-to-cart-btn:hover{
  background-color: #657cdb;
}


.out-of-stock-label {
  color: #ea433d; 
  font-weight: bold;
  margin-top: 10px;
}